/********************
***               ***
***     SETUP     ***
***               ***
********************/
*,
*:after,
*:before {
    box-sizing: border-box;
}
$SIZE : 400px;
$CENTER : 50;
$color:#ba6363 ;
$light-shade :  #524242;

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $SIZE;
    height: $SIZE;
    margin-top: -($SIZE / 2);
    margin-left: -($SIZE / 2);
    border-radius: 50%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 5px 5px 15px $color,
        -5px -5px 15px $light-shade;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
}


/********************
***               ***
***     BODY      ***
***               ***
********************/
body{
    margin: 0;
    padding:0;
    overflow: hidden;
    width: 100vw;
    height:100vh;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
  
}

img{
    width: $SIZE / 3 ;
    height: 500px;
    object-fit:cover;
    display:inline;
    transition: width .8s linear;
}



img:hover{
    width: $SIZE / 1.5;
}


