/********************
***               ***
***     SETUP     ***
***               ***
********************/
*,
*:after,
*:before {
  box-sizing: border-box;
}
$FRAME: 600px;
$SIZE: 400px;

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $FRAME;
  height: $FRAME;
  margin-top: -($FRAME / 2);
  margin-left: -($FRAME / 2);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // border: 1px solid black;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 41px 41px 100px #8c8c8c, -41px -41px 100px #ffffff;
}

#title {
  font-size: 3rem;
  font-family: "Stardos Stencil", cursive;
  text-align: center;
}

.center {
  border: 1px solid black;
  width: $SIZE;
  height: $SIZE;
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
  box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.7);
}

/********************
***               ***
***     BODY      ***
***               ***
********************/

.slider {
  width: $SIZE;
  //  border:1px solid black;
  height: 50px;
  margin: 5px auto;

  .my-photos {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .my-photo {
      border-radius: 50%;
      margin: 8px;
      width: 30px;
      height: 30px;
    }
  }
}

.my-photo:hover,
.my-photo:focus,
.my-photo:active {
  transform: scale(1.5);
}

#img-title {
  text-transform: uppercase;
  position: absolute;
  color: #ffffff;
  top: 300px;
  width: 350px;
  left: 25px;
  text-align: center;
}
